<h1>{{ score }}</h1>

<div class="board">
  <div class="board-row" *ngFor="let row of board">
    <div class="tile" *ngFor="let value of row">
      <p *ngIf="value != 0">{{ value }}</p>
    </div>
  </div>
</div>
<button class="btn" (click)="this.userMove('l')">move left</button>
<button class="btn" (click)="this.userMove('r')">move right</button>
<br />
<button class="btn" (click)="this.userMove('u')">move up</button>
<button class="btn" (click)="this.userMove('d')">move down</button>
<br />
<button class="btn" (click)="this.reset()">Reset</button>
<br />
<button class="btn" (click)="this.testAddTile()">TEST</button>
